@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #141414;
  --text-base: #141414;
  --primary: rgb(from var(--text-base) r g b / 0.74);
  --secondary: rgb(from var(--text-base) r g b / 0.6);
  --tertiary: rgb(from var(--text-base) r g b / 0.36);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-base: var(--base);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
